<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Processed Files</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
        <a href="/">Fingers</a>
      </header>
    <main>
        <div class="app">
      <h1>Processed Files in "{{ folder }}"</h1>
      <ul>
        {% for file in files %}
        <li>
          <a
            href="{{ url_for('processed_file', folder=folder, filename=file) }}"
            >{{ file }}</a
          >
        </li>
        {% endfor %}
      </ul>
      <a href="/">Upload More Files</a>
    </div>
    </main>
  </body>
</html>
